.container.profile
  .profile_user
    .profile_user_image
      = image_tag 'user.png'
    .profile_user_basicInfo
      .profile_user_name
        .name
          = @profile.nickname
        .profilePage_user_actionButton
          = link_to '編集', edit_profile_path
      .profilePage_user_id
        ID = @profile.my_id