.container.profile
  .profile_user
    .profile_user_image
      = image_tag current_user.avatar_image
    .profile_user_basicInfo
      .profile_user_name
        .name
          = @profile.nickname
        .profile_user_actionButton
          = link_to '変更', edit_profile_path
      .profile_user_id
        ID
        = @profile.my_id