.container
  .card
    .card_image
      = image_tag "food.jpg"
    .card_contents
      .card_name 
        食べ物
      .card_limitDay
        2021年10/3
      .card_timeLimit 
        あと2日
      .card_count
        5
  .card
    .card_image
      = image_tag "food.jpg"
    .card_contents
      .card_name 
        食べ物
      .card_limitDay
        2021年10/3
      .card_timeLimit 
        あと2日
      .card_count
        5
  .card
    .card_image
      = image_tag "food.jpg"
    .card_contents
      .card_name 
        食べ物
      .card_limitDay
        2021年10/3
      .card_timeLimit 
        あと2日
      .card_count
        5
  .card
    .card_image
      = image_tag "food.jpg"
    .card_contents
      .card_name 
        食べ物
      .card_limitDay
        2021年10/3
      .card_timeLimit 
        あと2日
      .card_count
        5