.card {
  background-color: white;
  padding: 3px 0;
  display: flex;
  border-bottom: 2px dashed black;

  &_image {
    height: 80px;
    width: 100px;
    margin-right: 10px;

    img {
      width: 100%;
      height: 80px;
    }
  }

  &_contents {
    position: relative;
    width: 100%;
  }

  &_name {
    font-size: 20px;
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px dashed rgb(141, 138, 138);
  }

  &_limitDay {
    position: absolute;
    font-size: 14px;
    bottom: 0;
  }

  &_timeLimit {
    position: absolute;
    font-size: 14px;
    left: 40%;
    bottom: 0;
  }

  &_count {
    position: absolute;
    font-size: 14px;
    right: 0;
    bottom: 0;
  }
}

.box {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 10px;

  img {
    width: 100%;
    height: 40px;
  }
}

.shopping_name {
  display: flex;
  font-size: 20px;
  padding: 8px 0;
  overflow: auto;
}

.delete_btn {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .position {
    position: relative;
    padding: 0 3px;
    top: 10px;
    right: 10px;
    border: 1px solid black;
  }
}

.margin-right {
  margin-right: 70px;
}

.linethrough {
  text-decoration: line-through;
}

.shadow {
  background-color: #cccccc;
}

.select {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  img {
    position: relative;
    top: -230%;
    right: 0%;
  }
}

.case {
  background-color: black;
  opacity: 0.6;
  border-radius: 10px;
  height: 50px;
  width: 60%;
  position: fixed;
  bottom: 80px;
  left: 20%;

  .item {
    display: flex;
    justify-content: space-around;

    a {
      color: red;
      font-size: 20px;
      padding: 10px;
    }
  }
}

.preview img{
  height: 200px;
  width: 200px;
  margin-top: 10px;
}