.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.form {
  position: fixed;
  padding: 5px 0 5px 5px;
  background-color: whitesmoke;
  top: 80px;
  left: 0;
  z-index: 1;
}

.space {
  padding-bottom: 36px;
}

.submit {
  margin: 10px 0;
}